<footer>
  <div class="content-width">
    <span class="info">
      &copy; {{ year }}. Website uses the
      <a
        href="https://fonts.google.com/noto/specimen/Noto+Serif"
        target="_blank"
        >Noto Serif</a
      >
      and
      <a
        class="mono-font"
        href="https://fonts.google.com/specimen/Kode+Mono"
        target="_blank"
        >Kode Mono</a
      >
      typefaces. Made with
      <a href="https://github.com/Vardan2009/basalt" target="_blank">Basalt</a>
    </span>
  </div>
</footer>
