@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --bg1: #1D2D44;
    --bg2: #0D1321;
    --fg: #5f819e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    user-select: none;
    height: 100%;
    overflow: hidden;
    color: var(--fg);
    background-color: var(--bg2);

    font-family: "Fira Code", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.selectable {
    user-select: text;
}

::selection {
    background-color: var(--fg);
    color: var(--bg2);
}

.highlighted {
    color: yellow;
}

.highlighted::selection {
    background-color: yellow;
}

div#main {
    text-align: center;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.huge {
    font-size: 50px;
    margin-bottom: 30px;
}

canvas#maincnv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

div.icons {
    display: flex;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

div.icons a {
    text-decoration: none;
}

div.icons i {
    display: block;
    margin: 10px;
    color: var(--fg);
    opacity: 0.5;
}

div.icons i:hover {
    opacity: 1;
}

div.icons i:active {
    opacity: 0.2;
}

.fadeincontainer {
    animation: fadein 1s forwards 1;
}

.fadeoutcontainer {
    animation: fadeout 1s forwards 1;
}

.blinkcontainer {
    animation: blink 2s infinite;
}