@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    transition-duration: 0.2s;
    user-select: none;
    height: 100%;
    overflow: hidden;
    color: var(--fg);
    background-color: var(--bg2);

    font-family: "Fira Code", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.selectable {
    user-select: text;
}

::selection {
    background-color: var(--fg);
    color: var(--bg2);
}

.highlighted, a {
    color: var(--hl);
}

.highlighted::selection, a::selection {
    background-color: var(--hl);
}

a.link {
    padding: 0px;
    transition-duration: 0.3s;
    text-decoration: none;
}

a.link:hover {
    background-color: var(--hl);
    color: var(--bg2);
    transition-duration: 0.3s;
}

div#main {
    text-align: center;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.huge {
    text-shadow: var(--bg1) 5px 5px 0px;
    font-size: 100px;
    margin-bottom: 30px;
    transition-duration: 0.3s;
}

canvas#maincnv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

div.icons {
    display: flex;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

div.icons a {
    text-decoration: none;
}

div.icons i {
    display: block;
    margin: 10px;
    color: var(--fg);
    opacity: 0.5;
}

div.icons i:hover {
    opacity: 1;
}

div.icons i:active {
    opacity: 0.2;
}

.fadeincontainer {
    animation: fadein 1s forwards 1;
}

.fadeoutcontainer {
    animation: fadeout 1s forwards 1;
}

.blinkcontainer {
    animation: blink 2s infinite;
}

section > div {
    z-index: 5;
    min-width: 200px;
    width: 80%;
}

@media (max-width: 750px) {
    .huge {
        font-size: 70px !important;
    }
}

@media (max-width: 550px) {
    .huge {
        font-size: 50px !important;
    }
}

img.flag {
    display: inline;
    height: 1em;
    margin: 7px;
    border-radius: 3px;
}

div.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}