<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }} - {{ blog-website-title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <basalt-partial>header</basalt-partial>

    <div id="content-container">
        <div class="content">
            <a href="/posts" class="info">
                <p>&lt; Posts</p>
            </a>
            <br />

            <h1>{{ title }}</h1>
            <p class="info">Written {{ date }}</p>
            <hr />
            <basalt-content />
        </div>
    </div>

    <basalt-partial>footer</basalt-partial>
</body>

</html>